#.gitignore for PAPERS
Debug/*
cmake-build-debug/
cmake-build-release/
.idea/
*.pdf
*.out
*.exe
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.log
*.run.xml
*.synctex.gz
*.toc
*.swp
*.nav
*.snm
*.vrb
*.spl
.DS_Store
